
python/ml/ignore/*
*.pyc
python/github-env/*
.idea/*
DB Browser for SQLite/*
mygithub.egg-info/*
pytorch/00_data_loader/x_data.csv
pytorch/00_data_loader/y_data.csv
pytorch/01_basic/x_data.csv
pytorch/01_basic/y_data.csv
