
python/ml/ignore/*
*.pyc
python/github-env/*
.idea/*
DB Browser for SQLite/*
mygithub.egg-info/*
pytorch/00_data_loader/x_data.csv
pytorch/00_data_loader/y_data.csv
pytorch/01_basic/x_data.csv
pytorch/01_basic/y_data.csv
pytorch/01_basic/losses.png
pytorch/02_basic_gen_train_test/losses.png
pytorch/02_basic_gen_train_test/model.pickle
pytorch/02_basic_gen_train_test/x_data.csv
pytorch/02_basic_gen_train_test/y_data.csv
pytorch/02_basic_gen_train_test/model.pt
pytorch/03_image_class/cats_and_dogs_filtered.zip
pytorch/03_image_class/cats_and_dogs_filtered/*
pytorch/03_image_class/losses.png
pytorch/03_image_class/model.pt
keras/00_data_loader/x_data.csv
keras/00_data_loader/y_data.csv
keras/01_basic/x_data.csv
keras/01_basic/y_data.csv
keras/01_basic/model.keras
keras/02_image_class/cats_and_dogs_filtered.zip
keras/02_image_class/cats_and_dogs_filtered/*
keras/02_image_class/model.keras
keras/03_rnn_ltsm/tester.png
keras/03_rnn_ltsm/x_data.csv
keras/03_rnn_ltsm/y_data.csv
keras/03_rnn_ltsm/timed_y_data.csv
keras/03_rnn_ltsm/timed_y_data.png
keras/03_rnn_ltsm/model_lstm.keras
keras/03_rnn_ltsm/model_nn.keras
keras/03_rnn_ltsm/model_rnn.keras
keras/03_rnn_ltsm/readme.txt
keras/03_rnn_ltsm/y_list.png
keras/03_rnn_ltsm/sample.py
keras/04_rnn_char/char_to_index.pickle
keras/04_rnn_char/index_to_char.pickle
keras/04_rnn_char/model_lstm.keras
keras/04_rnn_char/x_data.txt
keras/04_rnn_char/y_data.txt
music/00_data/lpd_full.tar.gz
music/00_data/lpd_full/*
python/example/_46_sqlite/test.db
python/example/_42_7z/out/output1.7z.0002
python/example/_42_7z/out/output1.7z.0003
python/example/_42_7z/out/output1.7z.0004
python/example/_42_7z/out/output2.7z.0001
python/example/_42_7z/out/output2.7z.0002
python/example/_42_7z/out/output3.7z.0001
python/example/_42_7z/out/output3.7z.0002
python/example/_42_7z/out/output3.7z.0003
python/example/_42_7z/out/output4.7z.0001
python/example/_42_7z/out/output4.7z.0002
python/example/_48_file_open/test.bin
python/example/_40_yaml_json/a.json
python/example/_40_yaml_json/a.yaml
python/example/_40_yaml_json/b.json
python/example/_40_yaml_json/b.yaml
